mocha_wf_modified.json
{"updatedAt":"2026-03-06T22:59:04.763Z","createdAt":"2026-03-06T02:00:00.591Z","id":"fxRyp6etIlFVCjxY","name":"Asistente WhatsApp — Mocha's Place","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.body.event }}","operator":{"type":"string","operation":"equals"},"rightValue":"messages.upsert"},{"id":"c2","leftValue":"={{ String($json.body.data.key.fromMe) }}","operator":{"type":"string","operation":"equals"},"rightValue":"false"}]},"options":{}},"id":"n2","name":"IF Mensaje válido","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,352]},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  const data = body.data || {};\n  const key = data.key || {};\n  const message = data.message || {};\n  const messageType = data.messageType || '';\n  const isAudio = messageType === 'audioMessage' || messageType === 'pttMessage';\n  const isImage = messageType === 'imageMessage';\n  const telefono = (key.remoteJid || '').replace('@s.whatsapp.net', '').replace('@g.us', '');\n\n  if (!telefono) continue;\n\n  const nombreWhatsApp = data.pushName || 'Cliente';\n  let messageText = '';\n  if (message.conversation) {\n    messageText = message.conversation;\n  } else if (message.extendedTextMessage && message.extendedTextMessage.text) {\n    messageText = message.extendedTextMessage.text;\n  } else if (message.imageMessage && message.imageMessage.caption) {\n    messageText = message.imageMessage.caption;\n  }\n  const rawMessage = JSON.parse(JSON.stringify(message));\n  const rawKey = JSON.parse(JSON.stringify(key));\n  const instance = String(body.instance || '');\n  results.push({ json: { telefono, nombreWhatsApp, messageText, isAudio, isImage, rawMessage, rawKey, instance } });\n}\nreturn results;"},"id":"n3","name":"Extraer mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,272]},{"parameters":{"jsCode":"const items = $input.all();\nconst systemPrompt = \"Eres Mocha, la asistente virtual de Mocha's Place, una tienda especializada en artículos de repostería y decoración personalizada en Zapopan, Jalisco, México.\n\n## Tu personalidad\n- Amigable, cálida y entusiasta\n- Conoces bien los productos y ayudas a los clientes a encontrar lo que necesitan\n- Respondes en español, de forma concisa y clara\n- Siempre ofreces ayuda adicional al terminar\n\n## Sobre Mocha's Place\n**Tienda física**: Plaza Portobelo, Av. Aviación 3000-19, Zapopan, Jal.\n**Horario**: Lunes a Viernes 9:30am–7:00pm | Sábados 10:00am–1:30pm | Domingos: cerrado\n\nNUNCA confirmes citas, recogidas ni entregas fuera del horario. Si el cliente solicita una hora o día fuera del horario de atención, indícale únicamente: \\\"Solo podemos atenderte en nuestro horario: Lunes a Viernes 9:30 AM – 7:00 PM | Sábados 10:00 AM – 1:30 PM.\\\" No sugieras ni negocies otros horarios.\n\n## Productos y precios\n- Impresiones comestibles: desde $40 MXN\n- Cortadores de galletas personalizados: desde $90 MXN\n- Toppers para pasteles: desde $35 MXN\n- Sellos para fondant/galletas: desde $120 MXN\n- Stencils decorativos: desde $50 MXN\n- Wrappers para cupcakes: desde $8 MXN (por pieza)\n- Bolsas chip personalizadas: desde $12 MXN (por pieza)\n- Colorantes para repostería: desde $45 MXN\n- Artículos de decoración varios: $8–$190 MXN\n\n## Formas de pago\nPayPal, Mercado Pago, tarjetas de crédito/débito, transferencia bancaria, pago en tienda.\n\n## Envíos y entregas\n- **Tiempo mínimo**: 1 día hábil para pedidos personalizados\n- **Opciones**: Envío por Uber (costo adicional según distancia) o recoger en tienda\n- **Pedidos urgentes**: Consultar disponibilidad\n\n## Cómo tomar un pedido\nCuando el cliente confirme que quiere hacer un pedido, recopila en este orden:\n1. Nombre del cliente\n2. Producto(s) que desea\n3. Cantidad\n4. Diseño/personalización (texto, colores, tema, imagen de referencia enviada, etc.)\n5. **Tamaño** — SOLO para productos con diseño personalizado (impresiones comestibles, toppers, acrílicos, cortadores, stencils, gelapaletas, etc.):\n   - Círculos para cupcakes: tamaño estándar 4.5 cm. Si el cliente pide otro tamaño, avísale: \\\"Ese tamaño lo podemos hacer, pero el corte lo tendrías que hacer tú — nosotros no lo cortamos.\\\"\n   - Gelapaletas: tamaño estándar 4.2 cm. Mismo aviso si pide un tamaño diferente.\n   - Demás productos con diseño personalizado: pregunta el tamaño específico que necesita.\n   - Productos ya elaborados sin personalización (colorante, wrapper estándar, etc.): NO preguntar tamaño.\n6. Método de entrega (envío Uber o recoger en tienda)\n7. Notas adicionales\n\nSi el cliente envía una imagen, trátala como la referencia del diseño que desea. Confirma el diseño y continúa recopilando los demás datos del pedido.\n\nCuando tengas TODOS los datos del pedido confirmados por el cliente, incluye al FINAL de tu respuesta el siguiente bloque (sin modificarlo, sin espacios extra):\n[ORDER_COMPLETE:{\\\"nombre\\\":\\\"NOMBRE_CLIENTE\\\",\\\"producto\\\":\\\"PRODUCTO\\\",\\\"cantidad\\\":\\\"CANTIDAD\\\",\\\"personalizacion\\\":\\\"PERSONALIZACION\\\",\\\"metodo_entrega\\\":\\\"METODO\\\",\\\"notas\\\":\\\"NOTAS\\\"}]\n\nIMPORTANTE: Solo incluye ORDER_COMPLETE cuando el cliente haya confirmado EXPLÍCITAMENTE que quiere hacer el pedido y hayas recopilado todos los datos. No lo incluyas en consultas generales.\";\nreturn items.map(item => {\n  const config = {\n    EVOLUTION_API_URL: 'https://proyecto-prueba1-evolution-api.jzw5jm.easypanel.host',\n    EVOLUTION_INSTANCE: 'Kore',\n    EVOLUTION_SEND_URL: 'https://proyecto-prueba1-evolution-api.jzw5jm.easypanel.host/message/sendText/Kore',\n    EVOLUTION_API_KEY: '429683C4C977415CAAFCCE10F7D57E11',\n    OPENAI_API_KEY: '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',\n    OWNER_PHONE: '523334437041',\n    SHEETS_ID: '1RUqdtHaaWRXvdxBD33hYrvNk7S-k-NkUXsAkaLdSJb4',\n    SHEET_PEDIDOS: 'Pedidos'\n  };\n  return { json: { ...item.json, config, systemPrompt } };\n});"},"id":"n4","name":"Config Mochas Place","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,272]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ String($json.isAudio) }}","operator":{"type":"string","operation":"equals"},"rightValue":"true"}]},"options":{}},"id":"n5","name":"IF Es audio","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1232,272]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ String($json.isImage) }}","operator":{"type":"string","operation":"equals"},"rightValue":"true"}]},"options":{}},"id":"n_img_if","name":"IF Es imagen","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1472,144]},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const config = item.json.config;\n  const rawKey = item.json.rawKey;\n  const rawMessage = item.json.rawMessage;\n  const caption = (rawMessage.imageMessage && rawMessage.imageMessage.caption) || '';\n  try {\n    const b64Response = await $helpers.httpRequest({\n      method: 'POST',\n      url: `${config.EVOLUTION_API_URL}/chat/getBase64FromMediaMessage/${encodeURIComponent(config.EVOLUTION_INSTANCE)}`,\n      headers: { 'Content-Type': 'application/json', 'apikey': config.EVOLUTION_API_KEY },\n      body: { message: { key: rawKey, message: rawMessage }, convertToMp4: false },\n      bodyContentType: 'json'\n    });\n    const base64Image = b64Response.base64;\n    if (!base64Image) throw new Error('No base64');\n    const visionRes = await $helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.openai.com/v1/chat/completions',\n      headers: { 'Authorization': `Bearer ${config.OPENAI_API_KEY}`, 'Content-Type': 'application/json' },\n      body: {\n        model: 'gpt-4o-mini',\n        messages: [{ role: 'user', content: [\n          { type: 'image_url', image_url: { url: `data:image/jpeg;base64,${base64Image}` } },\n          { type: 'text', text: 'Esta imagen fue enviada por un cliente de una tienda de repostería como referencia del diseño que desea. Describe en 1-2 oraciones qué muestra la imagen (personaje, logo, tema, colores principales, estilo), de forma concisa para que la asistente pueda anotarlo como diseño del pedido.' }\n        ]}],\n        max_tokens: 150\n      },\n      bodyContentType: 'json'\n    });\n    const desc = visionRes.choices[0].message.content;\n    const messageText = caption\n      ? `[El cliente envió una imagen como referencia del diseño que desea: ${desc}] Mensaje adicional del cliente: \"${caption}\"`\n      : `[El cliente envió una imagen como referencia del diseño que desea: ${desc}]`;\n    results.push({ json: { ...item.json, messageText } });\n  } catch(err) {\n    const fallback = caption\n      ? `[El cliente envió una imagen como referencia de diseño, pero no se pudo procesar] Mensaje del cliente: \"${caption}\"`\n      : '[El cliente envió una imagen como referencia del diseño que desea, pero no se pudo procesar. Pídele que describa el diseño con palabras.]';\n    results.push({ json: { ...item.json, messageText: fallback } });\n  }\n}\nreturn results;"},"id":"n_img_proc","name":"Procesar Imagen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,464]},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const config = item.json.config;\n  const rawKey = item.json.rawKey;\n  const rawMessage = item.json.rawMessage;\n  try {\n    const base64Response = await $helpers.httpRequest({\n      method: 'POST',\n      url: `${config.EVOLUTION_API_URL}/chat/getBase64FromMediaMessage/${encodeURIComponent(config.EVOLUTION_INSTANCE)}`,\n      headers: { 'Content-Type': 'application/json', 'apikey': config.EVOLUTION_API_KEY },\n      body: { message: { key: rawKey, message: rawMessage }, convertToMp4: false },\n      bodyContentType: 'json'\n    });\n    const base64Audio = base64Response.base64;\n    if (!base64Audio) throw new Error('No base64');\n    const FormData = require('form-data');\n    const form = new FormData();\n    form.append('file', Buffer.from(base64Audio, 'base64'), { filename: 'audio.ogg', contentType: 'audio/ogg' });\n    form.append('model', 'whisper-1');\n    form.append('language', 'es');\n    const whisperResponse = await $helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.openai.com/v1/audio/transcriptions',\n      headers: { 'Authorization': `Bearer ${config.OPENAI_API_KEY}`, ...form.getHeaders() },\n      body: form,\n      bodyContentType: 'raw'\n    });\n    results.push({ json: { ...item.json, messageText: whisperResponse.text || '[audio no transcribible]' } });\n  } catch(err) {\n    results.push({ json: { ...item.json, messageText: '[No pude entender el audio, por favor escríbeme tu mensaje]' } });\n  }\n}\nreturn results;"},"id":"n6","name":"Transcribir Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,416]},{"parameters":{"promptType":"define","text":"={{ $json.messageText }}","options":{"systemMessage":"={{ $json.systemPrompt }}"}},"id":"n7","name":"Asistente Mocha","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1952,272]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"n7a","name":"ChatGPT","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1824,80],"credentials":{"openAiApi":{"id":"ygGLz97gkFj8HpaV","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Extraer mensaje').first().json.telefono }}","contextWindowLength":10},"id":"n7b","name":"Memoria Mocha","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2064,80]},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const output = item.json.output || '';\n  const telefono = $('Extraer mensaje').first().json.telefono;\n  const config = $('Config Mochas Place').first().json.config;\n  const orderRegex = /\\[ORDER_COMPLETE:(\\{[\\s\\S]*?\\})\\]/;\n  const match = output.match(orderRegex);\n  let pedido = null;\n  let respuesta = output;\n  if (match) {\n    try {\n      pedido = JSON.parse(match[1]);\n      pedido.telefono = telefono;\n      respuesta = output.replace(orderRegex, '').trim();\n    } catch(e) { }\n  }\n  const notificationText = pedido ?\n    `NUEVO PEDIDO - Mocha's Place\\n\\nCliente: ${pedido.nombre || 'No especificado'}\\nTeléfono: ${telefono}\\nProducto: ${pedido.producto || ''}\\nCantidad: ${pedido.cantidad || ''}\\nPersonalización: ${pedido.personalizacion || ''}\\nEntrega: ${pedido.metodo_entrega || ''}\\nNotas: ${pedido.notas || ''}` : '';\n  results.push({ json: { telefono, respuesta, pedido, hayPedido: !!pedido, notificationText, config } });\n}\nreturn results;"},"id":"n8","name":"Parsear respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,272]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"p1","leftValue":"={{ $json.hayPedido }}","operator":{"type":"boolean","operation":"true","singleValue":true}}]},"options":{}},"id":"n9","name":"IF Hay pedido","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2432,272]},{"parameters":{"operation":"append","documentId":{"mode":"id","value":"={{ $json.config.SHEETS_ID }}"},"sheetName":{"mode":"name","value":"={{ $json.config.SHEET_PEDIDOS }}"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ new Date().toLocaleString('es-MX', {timeZone: 'America/Mexico_City'}) }}","Nombre":"={{ $json.pedido.nombre }}","Telefono":"={{ $json.pedido.telefono }}","Producto":"={{ $json.pedido.producto }}","Cantidad":"={{ $json.pedido.cantidad }}","Personalizacion":"={{ $json.pedido.personalizacion }}","Entrega":"={{ $json.pedido.metodo_entrega }}","Notas":"={{ $json.pedido.notas }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Producto","displayName":"Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Personalizacion","displayName":"Personalizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entrega","displayName":"Entrega","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"n10","name":"Log Pedido Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2672,144],"credentials":{"googleSheetsOAuth2Api":{"id":"Hinq1zvIUfOScFkQ","name":"Google Sheets account 2"}}},{"parameters":{"method":"POST","url":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_SEND_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {number: $json.config.OWNER_PHONE, text: $('Parsear respuesta').first().json.notificationText} }}","options":{}},"id":"n11","name":"Notificar Dueño","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,144]},{"parameters":{"method":"POST","url":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_SEND_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {number: $('Parsear respuesta').first().json.telefono, text: $('Parsear respuesta').first().json.respuesta} }}","options":{}},"id":"n12","name":"Enviar al cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3152,272]},{"parameters":{"httpMethod":"POST","path":"mochas_place","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[272,352],"id":"f629a84e-2082-4ac6-bea4-7e8a08d83ff1","name":"Webhook","webhookId":"90c3278b-d6d0-4771-a45d-19c63fd4c21a"}],"connections":{"IF Mensaje válido":{"main":[[{"node":"Extraer mensaje","type":"main","index":0}],[]]},"Extraer mensaje":{"main":[[{"node":"Config Mochas Place","type":"main","index":0}]]},"Config Mochas Place":{"main":[[{"node":"IF Es audio","type":"main","index":0}]]},"IF Es audio":{"main":[[{"node":"IF Es imagen","type":"main","index":0}],[{"node":"Transcribir Audio","type":"main","index":0}]]},"IF Es imagen":{"main":[[{"node":"Procesar Imagen","type":"main","index":0}],[{"node":"Asistente Mocha","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Asistente Mocha","type":"main","index":0}]]},"Procesar Imagen":{"main":[[{"node":"Asistente Mocha","type":"main","index":0}]]},"ChatGPT":{"ai_languageModel":[[{"node":"Asistente Mocha","type":"ai_languageModel","index":0}]]},"Memoria Mocha":{"ai_memory":[[{"node":"Asistente Mocha","type":"ai_memory","index":0}]]},"Asistente Mocha":{"main":[[{"node":"Parsear respuesta","type":"main","index":0}]]},"Parsear respuesta":{"main":[[{"node":"IF Hay pedido","type":"main","index":0}]]},"IF Hay pedido":{"main":[[{"node":"Enviar al cliente","type":"main","index":0}],[{"node":"Log Pedido Sheets","type":"main","index":0}]]},"Log Pedido Sheets":{"main":[[{"node":"Notificar Dueño","type":"main","index":0}]]},"Notificar Dueño":{"main":[[{"node":"Enviar al cliente","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF Mensaje válido","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Mexico_City","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b64ae613-adcc-4a8a-a835-29dc42c4760a","activeVersionId":"aacc5b8d-fe91-4567-99f6-bea633e86153","versionCounter":88,"triggerCount":1,"shared":[{"updatedAt":"2026-03-06T02:00:00.606Z","createdAt":"2026-03-06T02:00:00.606Z","role":"workflow:owner","workflowId":"fxRyp6etIlFVCjxY","projectId":"fT6zW2HoWfus2rdE","project":{"updatedAt":"2026-02-05T04:58:51.537Z","createdAt":"2026-02-05T04:54:23.682Z","id":"fT6zW2HoWfus2rdE","name":"axel samuel arizaga becerra <samuelarizagabecerra@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bc458c1a-939b-4345-91df-c5b3615814fd","projectRelations":[{"updatedAt":"2026-02-05T04:54:23.682Z","createdAt":"2026-02-05T04:54:23.682Z","userId":"bc458c1a-939b-4345-91df-c5b3615814fd","projectId":"fT6zW2HoWfus2rdE","user":{"updatedAt":"2026-03-06T06:04:11.000Z","createdAt":"2026-02-05T04:54:22.684Z","id":"bc458c1a-939b-4345-91df-c5b3615814fd","email":"samuelarizagabecerra@gmail.com","firstName":"axel samuel","lastName":"arizaga becerra","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-05T04:59:34.665Z","personalization_survey_n8n_version":"2.6.3","companySize":"20-99","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true},"firstSuccessfulWorkflowId":"AsGs0e_AZdB_O9aYg67n5","userActivatedAt":1770692424017,"npsSurvey":{"responded":true,"lastShownAt":1770953234375}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-06T22:45:21.746Z","createdAt":"2026-03-06T22:45:21.746Z","versionId":"aacc5b8d-fe91-4567-99f6-bea633e86153","workflowId":"fxRyp6etIlFVCjxY","nodes":[{"parameters":{"httpMethod":"POST","path":"mochas-whatsapp","options":{}},"id":"8bff5bdd-09a7-4658-9f6e-7a89ee9c9ff9","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,352],"webhookId":"ba83c559-93ea-42bc-9f71-d8ea2cc81208"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.body.event }}","operator":{"type":"string","operation":"equals"},"rightValue":"messages.upsert"},{"id":"c2","leftValue":"={{ String($json.body.data.key.fromMe) }}","operator":{"type":"string","operation":"equals"},"rightValue":"false"}]},"options":{}},"id":"n2","name":"IF Mensaje válido","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,352]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  const data = body.data || {};\n  const key = data.key || {};\n  const message = data.message || {};\n  const messageType = data.messageType || '';\n  const isAudio = messageType === 'audioMessage' || messageType === 'pttMessage';\n  const isImage = messageType === 'imageMessage';\n  const telefono = (key.remoteJid || '').replace('@s.whatsapp.net', '').replace('@g.us', '');\n\n  if (!telefono) continue;\n\n  const nombreWhatsApp = data.pushName || 'Cliente';\n  let messageText = '';\n  if (message.conversation) {\n    messageText = message.conversation;\n  } else if (message.extendedTextMessage && message.extendedTextMessage.text) {\n    messageText = message.extendedTextMessage.text;\n  } else if (message.imageMessage && message.imageMessage.caption) {\n    messageText = message.imageMessage.caption;\n  }\n  const rawMessage = JSON.parse(JSON.stringify(message));\n  const rawKey = JSON.parse(JSON.stringify(key));\n  const instance = String(body.instance || '');\n  results.push({ json: { telefono, nombreWhatsApp, messageText, isAudio, isImage, rawMessage, rawKey, instance } });\n}\nreturn results;"},"id":"n3","name":"Extraer mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,272]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst systemPrompt = \"Eres Mocha, la asistente virtual de Mocha's Place, una tienda especializada en artículos de repostería y decoración personalizada en Zapopan, Jalisco, México.\\n\\n## Tu personalidad\\n- Amigable, cálida y entusiasta\\n- Conoces bien los productos y ayudas a los clientes a encontrar lo que necesitan\\n- Respondes en español, de forma concisa y clara\\n- Siempre ofreces ayuda adicional al terminar\\n\\n## Sobre Mocha's Place\\n**Tienda física**: Plaza Portobelo, Av. Aviación 3000-19, Zapopan, Jal.\\n**Horario**: Lunes a Viernes 9:30am–7:00pm | Sábados 10:00am–1:30pm\\n**Domingos**: Cerrado\\n\\n## Productos y precios\\n- Impresiones comestibles: desde $40 MXN\\n- Cortadores de galletas personalizados: desde $90 MXN\\n- Toppers para pasteles: desde $35 MXN\\n- Sellos para fondant/galletas: desde $120 MXN\\n- Stencils decorativos: desde $50 MXN\\n- Wrappers para cupcakes: desde $8 MXN (por pieza)\\n- Bolsas chip personalizadas: desde $12 MXN (por pieza)\\n- Colorantes para repostería: desde $45 MXN\\n- Artículos de decoración varios: $8–$190 MXN\\n\\n## Formas de pago\\nPayPal, Mercado Pago, tarjetas de crédito/débito, transferencia bancaria, pago en tienda.\\n\\n## Envíos y entregas\\n- **Tiempo mínimo**: 1 día hábil para pedidos personalizados\\n- **Opciones**: Envío por Uber (costo adicional según distancia) o recoger en tienda\\n- **Pedidos urgentes**: Consultar disponibilidad\\n\\n## Cómo tomar un pedido\\nCuando el cliente confirme que quiere hacer un pedido, recopila:\\n1. Nombre del cliente\\n2. Producto(s) que desea\\n3. Cantidad\\n4. Personalización requerida (diseño, texto, colores, etc.)\\n5. Método de entrega (envío Uber o recoger en tienda)\\n6. Cualquier nota adicional\\n\\nSi el cliente envía una imagen, útil tratarla como la referencia del diseño que desea. Confirma el diseño y continúa recopilando los demás datos del pedido.\\n\\nCuando tengas TODOS los datos del pedido confirmados por el cliente, incluye al FINAL de tu respuesta el siguiente bloque (sin modificarlo, sin espacios extra):\\n[ORDER_COMPLETE:{\\\"nombre\\\":\\\"NOMBRE_CLIENTE\\\",\\\"producto\\\":\\\"PRODUCTO\\\",\\\"cantidad\\\":\\\"CANTIDAD\\\",\\\"personalizacion\\\":\\\"PERSONALIZACION\\\",\\\"metodo_entrega\\\":\\\"METODO\\\",\\\"notas\\\":\\\"NOTAS\\\"}]\\n\\nIMPORTANTE: Solo incluye ORDER_COMPLETE cuando el cliente haya confirmado EXPLÍCITAMENTE que quiere hacer el pedido y hayas recopilado todos los datos. No lo incluyas en consultas generales.\";\nreturn items.map(item => {\n  const config = {\n    EVOLUTION_API_URL: 'https://proyecto-prueba1-evolution-api.jzw5jm.easypanel.host',\n    EVOLUTION_INSTANCE: 'Kore',\n    EVOLUTION_SEND_URL: 'https://proyecto-prueba1-evolution-api.jzw5jm.easypanel.host/message/sendText/Kore',\n    EVOLUTION_API_KEY: '429683C4C977415CAAFCCE10F7D57E11',\n    OPENAI_API_KEY: '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',\n    OWNER_PHONE: '523334437041',\n    SHEETS_ID: '1RUqdtHaaWRXvdxBD33hYrvNk7S-k-NkUXsAkaLdSJb4',\n    SHEET_PEDIDOS: 'Pedidos'\n  };\n  return { json: { ...item.json, config, systemPrompt } };\n});"},"id":"n4","name":"Config Mochas Place","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,272]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ String($json.isAudio) }}","operator":{"type":"string","operation":"equals"},"rightValue":"true"}]},"options":{}},"id":"n5","name":"IF Es audio","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1232,272]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ String($json.isImage) }}","operator":{"type":"string","operation":"equals"},"rightValue":"true"}]},"options":{}},"id":"n_img_if","name":"IF Es imagen","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1472,144]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const config = item.json.config;\n  const rawKey = item.json.rawKey;\n  const rawMessage = item.json.rawMessage;\n  const caption = (rawMessage.imageMessage && rawMessage.imageMessage.caption) || '';\n  try {\n    const b64Response = await $helpers.httpRequest({\n      method: 'POST',\n      url: `${config.EVOLUTION_API_URL}/chat/getBase64FromMediaMessage/${encodeURIComponent(config.EVOLUTION_INSTANCE)}`,\n      headers: { 'Content-Type': 'application/json', 'apikey': config.EVOLUTION_API_KEY },\n      body: { message: { key: rawKey, message: rawMessage }, convertToMp4: false },\n      bodyContentType: 'json'\n    });\n    const base64Image = b64Response.base64;\n    if (!base64Image) throw new Error('No base64');\n    const visionRes = await $helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.openai.com/v1/chat/completions',\n      headers: { 'Authorization': `Bearer ${config.OPENAI_API_KEY}`, 'Content-Type': 'application/json' },\n      body: {\n        model: 'gpt-4o-mini',\n        messages: [{ role: 'user', content: [\n          { type: 'image_url', image_url: { url: `data:image/jpeg;base64,${base64Image}` } },\n          { type: 'text', text: 'Esta imagen fue enviada por un cliente de una tienda de repostería como referencia del diseño que desea. Describe en 1-2 oraciones qué muestra la imagen (personaje, logo, tema, colores principales, estilo), de forma concisa para que la asistente pueda anotarlo como diseño del pedido.' }\n        ]}],\n        max_tokens: 150\n      },\n      bodyContentType: 'json'\n    });\n    const desc = visionRes.choices[0].message.content;\n    const messageText = caption\n      ? `[El cliente envió una imagen como referencia del diseño que desea: ${desc}] Mensaje adicional del cliente: \"${caption}\"`\n      : `[El cliente envió una imagen como referencia del diseño que desea: ${desc}]`;\n    results.push({ json: { ...item.json, messageText } });\n  } catch(err) {\n    const fallback = caption\n      ? `[El cliente envió una imagen como referencia de diseño, pero no se pudo procesar] Mensaje del cliente: \"${caption}\"`\n      : '[El cliente envió una imagen como referencia del diseño que desea, pero no se pudo procesar. Pídele que describa el diseño con palabras.]';\n    results.push({ json: { ...item.json, messageText: fallback } });\n  }\n}\nreturn results;"},"id":"n_img_proc","name":"Procesar Imagen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,460]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const config = item.json.config;\n  const rawKey = item.json.rawKey;\n  const rawMessage = item.json.rawMessage;\n  try {\n    const base64Response = await $helpers.httpRequest({\n      method: 'POST',\n      url: `${config.EVOLUTION_API_URL}/chat/getBase64FromMediaMessage/${encodeURIComponent(config.EVOLUTION_INSTANCE)}`,\n      headers: { 'Content-Type': 'application/json', 'apikey': config.EVOLUTION_API_KEY },\n      body: { message: { key: rawKey, message: rawMessage }, convertToMp4: false },\n      bodyContentType: 'json'\n    });\n    const base64Audio = base64Response.base64;\n    if (!base64Audio) throw new Error('No base64');\n    const FormData = require('form-data');\n    const form = new FormData();\n    form.append('file', Buffer.from(base64Audio, 'base64'), { filename: 'audio.ogg', contentType: 'audio/ogg' });\n    form.append('model', 'whisper-1');\n    form.append('language', 'es');\n    const whisperResponse = await $helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.openai.com/v1/audio/transcriptions',\n      headers: { 'Authorization': `Bearer ${config.OPENAI_API_KEY}`, ...form.getHeaders() },\n      body: form,\n      bodyContentType: 'raw'\n    });\n    results.push({ json: { ...item.json, messageText: whisperResponse.text || '[audio no transcribible]' } });\n  } catch(err) {\n    results.push({ json: { ...item.json, messageText: '[No pude entender el audio, por favor escríbeme tu mensaje]' } });\n  }\n}\nreturn results;"},"id":"n6","name":"Transcribir Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,416]},{"parameters":{"promptType":"define","text":"={{ $json.messageText }}","options":{"systemMessage":"={{ $json.systemPrompt }}"}},"id":"n7","name":"Asistente Mocha","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1952,272]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"n7a","name":"ChatGPT","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1824,80],"credentials":{"openAiApi":{"id":"ygGLz97gkFj8HpaV","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Extraer mensaje').first().json.telefono }}","contextWindowLength":10},"id":"n7b","name":"Memoria Mocha","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2064,80]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const output = item.json.output || '';\n  const telefono = $('Extraer mensaje').first().json.telefono;\n  const config = $('Config Mochas Place').first().json.config;\n  const orderRegex = /\\[ORDER_COMPLETE:(\\{[\\s\\S]*?\\})\\]/;\n  const match = output.match(orderRegex);\n  let pedido = null;\n  let respuesta = output;\n  if (match) {\n    try {\n      pedido = JSON.parse(match[1]);\n      pedido.telefono = telefono;\n      respuesta = output.replace(orderRegex, '').trim();\n    } catch(e) { }\n  }\n  const notificationText = pedido ?\n    `NUEVO PEDIDO - Mocha's Place\\n\\nCliente: ${pedido.nombre || 'No especificado'}\\nTeléfono: ${telefono}\\nProducto: ${pedido.producto || ''}\\nCantidad: ${pedido.cantidad || ''}\\nPersonalización: ${pedido.personalizacion || ''}\\nEntrega: ${pedido.metodo_entrega || ''}\\nNotas: ${pedido.notas || ''}` : '';\n  results.push({ json: { telefono, respuesta, pedido, hayPedido: !!pedido, notificationText, config } });\n}\nreturn results;"},"id":"n8","name":"Parsear respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,272]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"p1","leftValue":"={{ $json.hayPedido }}","operator":{"type":"boolean","operation":"true","singleValue":true}}]},"options":{}},"id":"n9","name":"IF Hay pedido","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2432,272]},{"parameters":{"operation":"append","documentId":{"mode":"id","value":"={{ $json.config.SHEETS_ID }}"},"sheetName":{"mode":"name","value":"={{ $json.config.SHEET_PEDIDOS }}"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ new Date().toLocaleString('es-MX', {timeZone: 'America/Mexico_City'}) }}","Nombre":"={{ $json.pedido.nombre }}","Telefono":"={{ $json.pedido.telefono }}","Producto":"={{ $json.pedido.producto }}","Cantidad":"={{ $json.pedido.cantidad }}","Personalizacion":"={{ $json.pedido.personalizacion }}","Entrega":"={{ $json.pedido.metodo_entrega }}","Notas":"={{ $json.pedido.notas }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Producto","displayName":"Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Personalizacion","displayName":"Personalizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entrega","displayName":"Entrega","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"n10","name":"Log Pedido Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2672,144],"credentials":{"googleSheetsOAuth2Api":{"id":"Hinq1zvIUfOScFkQ","name":"Google Sheets account 2"}}},{"parameters":{"method":"POST","url":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_SEND_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {number: $json.config.OWNER_PHONE, text: $('Parsear respuesta').first().json.notificationText} }}","options":{}},"id":"n11","name":"Notificar Dueño","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,144]},{"parameters":{"method":"POST","url":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_SEND_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config Mochas Place').first().json.config.EVOLUTION_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {number: $('Parsear respuesta').first().json.telefono, text: $('Parsear respuesta').first().json.respuesta} }}","options":{}},"id":"n12","name":"Enviar al cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3152,272]}],"connections":{"Webhook":{"main":[[{"node":"IF Mensaje válido","type":"main","index":0}]]},"IF Mensaje válido":{"main":[[{"node":"Extraer mensaje","type":"main","index":0}],[]]},"Extraer mensaje":{"main":[[{"node":"Config Mochas Place","type":"main","index":0}]]},"Config Mochas Place":{"main":[[{"node":"IF Es audio","type":"main","index":0}]]},"IF Es audio":{"main":[[{"node":"IF Es imagen","type":"main","index":0}],[{"node":"Transcribir Audio","type":"main","index":0}]]},"IF Es imagen":{"main":[[{"node":"Asistente Mocha","type":"main","index":0}],[{"node":"Procesar Imagen","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Asistente Mocha","type":"main","index":0}]]},"Procesar Imagen":{"main":[[{"node":"Asistente Mocha","type":"main","index":0}]]},"ChatGPT":{"ai_languageModel":[[{"node":"Asistente Mocha","type":"ai_languageModel","index":0}]]},"Memoria Mocha":{"ai_memory":[[{"node":"Asistente Mocha","type":"ai_memory","index":0}]]},"Asistente Mocha":{"main":[[{"node":"Parsear respuesta","type":"main","index":0}]]},"Parsear respuesta":{"main":[[{"node":"IF Hay pedido","type":"main","index":0}]]},"IF Hay pedido":{"main":[[{"node":"Enviar al cliente","type":"main","index":0}],[{"node":"Log Pedido Sheets","type":"main","index":0}]]},"Log Pedido Sheets":{"main":[[{"node":"Notificar Dueño","type":"main","index":0}]]},"Notificar Dueño":{"main":[[{"node":"Enviar al cliente","type":"main","index":0}]]}},"authors":"axel samuel arizaga becerra","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-06T22:45:21.800Z","id":64,"workflowId":"fxRyp6etIlFVCjxY","versionId":"aacc5b8d-fe91-4567-99f6-bea633e86153","event":"activated","userId":"bc458c1a-939b-4345-91df-c5b3615814fd"},{"createdAt":"2026-03-06T22:57:26.680Z","id":66,"workflowId":"fxRyp6etIlFVCjxY","versionId":"aacc5b8d-fe91-4567-99f6-bea633e86153","event":"activated","userId":"bc458c1a-939b-4345-91df-c5b3615814fd"},{"createdAt":"2026-03-06T22:50:19.632Z","id":65,"workflowId":"fxRyp6etIlFVCjxY","versionId":"aacc5b8d-fe91-4567-99f6-bea633e86153","event":"deactivated","userId":"bc458c1a-939b-4345-91df-c5b3615814fd"}]}}