workflow_verify.json
{"updatedAt":"2026-02-18T01:44:08.719Z","createdAt":"2026-02-18T00:59:26.908Z","id":"hZXD9dIkPfzVLa6B","name":"🤖 Digest de Noticias de IA - Lunes 9AM","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1"}]}},"id":"node_schedule","name":"Todos los Lunes 9AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,368]},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"id":"node_rss1","name":"TechCrunch AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[480,144],"continueOnFail":true},{"parameters":{"url":"https://venturebeat.com/category/ai/feed/","options":{}},"id":"node_rss2","name":"VentureBeat AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[480,288],"continueOnFail":true},{"parameters":{"url":"https://www.technologyreview.com/topic/artificial-intelligence/feed/","options":{}},"id":"node_rss3","name":"MIT Tech Review AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[480,432],"continueOnFail":true},{"parameters":{"url":"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml","options":{}},"id":"node_rss4","name":"The Verge AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[480,560],"continueOnFail":true},{"parameters":{"mode":"append"},"id":"node_merge1","name":"Merge TechCrunch + VentureBeat","type":"n8n-nodes-base.merge","typeVersion":3,"position":[700,200]},{"parameters":{"mode":"append"},"id":"node_merge2","name":"Merge MIT + TheVerge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[700,520]},{"parameters":{"mode":"append"},"id":"node_merge3","name":"Combinar Todos los Feeds","type":"n8n-nodes-base.merge","typeVersion":3,"position":[960,360]},{"parameters":{"maxItems":40},"id":"node_limit","name":"Limitar 40 Articulos","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1200,360]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"articles","options":{}},"id":"node_aggregate","name":"Agrupar Articulos","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1424,360]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"responses":{"values":[{"role":"system","content":"Eres un experto en inteligencia artificial. Tu tarea es curar las noticias mas importantes de IA de la semana para un profesional del sector."},{"content":"Analiza estas noticias de IA y selecciona las 7-10 mas relevantes.\n\nCRITERIOS DE INCLUSION:\n- Avances tecnicos significativos\n- Lanzamientos de nuevos modelos o productos\n- Impacto en la industria\n- Regulaciones o politicas importantes\n- Investigacion destacada\n\nCRITERIOS DE EXCLUSION:\n- Noticias repetitivas o muy similares\n- Contenido clickbait sin sustancia\n- Actualizaciones menores sin impacto\n\nARTICULOS DISPONIBLES:\n={{ $json.articles.map(a => a.title + \" | \" + a.pubDate + \" | \" + a.link).join(\"\\n\") }}\n\nGenera un email HTML profesional con esta estructura:\n- Header con fondo oscuro y texto blanco: emoji robot + \"Noticias de IA de la Semana\"\n- Fecha actual\n- Frase introductoria\n- Para cada articulo seleccionado: titulo en negrita, resumen de 2-3 lineas, fuente, enlace \"Leer mas\"\n- Footer: \"Digest automatico generado por IA | Cada lunes a las 9AM\"\n\nResponde UNICAMENTE con el HTML limpio, sin bloques de codigo markdown."}]},"builtInTools":{},"options":{}},"id":"node_openai","name":"Filtrar con IA (OpenAI)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1648,360],"credentials":{"openAiApi":{"id":"ygGLz97gkFj8HpaV","name":"OpenAi account"}}},{"parameters":{"sendTo":"asamarizaga@gmail.com","subject":"=🤖 Noticias de IA - Semana del {{ $now.toFormat('dd/MM/yyyy') }}","message":"={{ $json.output[0].content[0].text }}","options":{}},"id":"node_gmail","name":"Enviar Email Digest","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1936,360],"webhookId":"fb150673-e2c7-4323-9da3-dc61f7245f5c","credentials":{"gmailOAuth2":{"id":"yz4cfbk0IYlx0Occ","name":"Gmail account"}}}],"connections":{"Todos los Lunes 9AM":{"main":[[{"node":"TechCrunch AI","type":"main","index":0},{"node":"VentureBeat AI","type":"main","index":0},{"node":"MIT Tech Review AI","type":"main","index":0},{"node":"The Verge AI","type":"main","index":0}]]},"TechCrunch AI":{"main":[[{"node":"Merge TechCrunch + VentureBeat","type":"main","index":0}]]},"VentureBeat AI":{"main":[[{"node":"Merge TechCrunch + VentureBeat","type":"main","index":1}]]},"MIT Tech Review AI":{"main":[[{"node":"Merge MIT + TheVerge","type":"main","index":0}]]},"The Verge AI":{"main":[[{"node":"Merge MIT + TheVerge","type":"main","index":1}]]},"Merge TechCrunch + VentureBeat":{"main":[[{"node":"Combinar Todos los Feeds","type":"main","index":0}]]},"Merge MIT + TheVerge":{"main":[[{"node":"Combinar Todos los Feeds","type":"main","index":1}]]},"Combinar Todos los Feeds":{"main":[[{"node":"Limitar 40 Articulos","type":"main","index":0}]]},"Limitar 40 Articulos":{"main":[[{"node":"Agrupar Articulos","type":"main","index":0}]]},"Agrupar Articulos":{"main":[[{"node":"Filtrar con IA (OpenAI)","type":"main","index":0}]]},"Filtrar con IA (OpenAI)":{"main":[[{"node":"Enviar Email Digest","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1181dbde-d543-4830-afec-602fde9c90b2","activeVersionId":null,"versionCounter":13,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T00:59:26.919Z","createdAt":"2026-02-18T00:59:26.919Z","role":"workflow:owner","workflowId":"hZXD9dIkPfzVLa6B","projectId":"fT6zW2HoWfus2rdE","project":{"updatedAt":"2026-02-05T04:58:51.537Z","createdAt":"2026-02-05T04:54:23.682Z","id":"fT6zW2HoWfus2rdE","name":"axel samuel arizaga becerra <samuelarizagabecerra@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bc458c1a-939b-4345-91df-c5b3615814fd","projectRelations":[{"updatedAt":"2026-02-05T04:54:23.682Z","createdAt":"2026-02-05T04:54:23.682Z","userId":"bc458c1a-939b-4345-91df-c5b3615814fd","projectId":"fT6zW2HoWfus2rdE","user":{"updatedAt":"2026-02-17T23:52:18.000Z","createdAt":"2026-02-05T04:54:22.684Z","id":"bc458c1a-939b-4345-91df-c5b3615814fd","email":"samuelarizagabecerra@gmail.com","firstName":"axel samuel","lastName":"arizaga becerra","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-05T04:59:34.665Z","personalization_survey_n8n_version":"2.6.3","companySize":"20-99","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true},"firstSuccessfulWorkflowId":"AsGs0e_AZdB_O9aYg67n5","userActivatedAt":1770692424017,"npsSurvey":{"responded":true,"lastShownAt":1770953234375}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-17","isPending":false}}]}}],"tags":[],"activeVersion":null}